.carousel{
    .carousel-inner{
        .carousel-item{
            width: 100%;
            background: black;
            img{
                height: 85vh;
                opacity: 0.75;
                object-fit: cover;
            }

        }
    }
}