body{
    background: orange;
    color: blue;

    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: whitesmoke;
    }
    .content-title{
        margin: 0px;
        padding-bottom: 1rem;
        // color: $primary_color;
    }
    .mm{
        .content-title{
            font-size: 1.75rem;
            margin-bottom: 0.5rem;
        }
    }
    .line{
        border-bottom: 3px solid $secondary_color;
        background: $secondary_color;
    }
    .speech{
        text-align: justify;
        line-height: 2em;
    }

    section{
        min-height: calc(100vh - 298px);
        padding-top: 4em;
        .header{
            background: $secondary_color;
        }
    }



    .inner-content{
        .setsumei{
            display: block;
            font-size: 1.1em;
            // font-weight: bold;
        }
    }

    .footer-popup{
        position: fixed;
        bottom: 1em;
        width: fit-content;
        cursor: pointer;
        color: white;
        text-align: center;
        img{
            width: 35px;
            height: 35px;
            margin-bottom: -7px;
        }
        opacity: 1;
        
    }
    .footer-popup.questionare{
        left: 1em;
        small{
            display: block;
            background: $primary_color;
        }
        
    }
    .footer-popup.to-top{
        right: 1em;

        span{
            svg{
                color: $primary_color;
                width: 35px;
                height: 35px;
            }
        }
        small{
            color: $primary_color;
        }
    }
    .footer-menu{
        background: #eee;
        .container{
            .footer-logo{
                cursor: pointer;
                width: 60px;
                // height: 60px;
            }
            .navs{
                span{
                    display: inline-block;
                    padding: 0 1rem;
                    font-size: 0.8rem;
                    cursor: pointer;
                }
                .dropup{
                    .dropdown-menu{
                        min-width: max-content;
                    }
                }
            }
        }
    }
}
.cs {
    cursor: pointer;
}
.cs:hover{
    text-shadow: 1px 1px 2px #3333335c;
}