section.contact{
    .content{
        .inner-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            .contact-icons{
                width: 100%;
                .icon-box{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .icon{
                        padding: 1rem;
                        border: 1px solid $container-bg-color;
                    }
                    .icon:hover{
                        box-shadow: none !important;
                    }
                    svg{
                        width: 50px;
                        height: 50px;
                    }

                }
            }
            .mail{
                .icon-box{
                    align-items: end;
                    a{
                        color: #ea4336;
                    }
                }
            }
            .facebook{
                .icon-box{
                    align-items: start;
                    a{
                        color: #0f8af0;
                    }
                }
            }
            .phone{
                flex: 0 0 fit-content;
                a{
                    color: gray;
                    align-items: center;
                }
            }
        }
    }
}