@media screen and (max-width: 576px){
    
    .navbar{
        .container{
            .navbar-brand{
                width: 100px;
                .logo-text{
                    .site-name{
                        font-size: 1.1rem;
                    }
                }
            }
            .navbar-collapse{
                margin-top: 0.5rem;
                background: $primary_color;
                .navbar-nav{
                    .nav-item{
                        border-bottom: 1px solid white;
                        .nav-link{
                            
                        }
                    }
                }
            }
            // .lang-change{
            //     right: 0;
            //     bottom: -2rem;
            // }
        }
    }
    .navbar.home{
       .navbar-toggler{
            border: 1px solid white;
       }
        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        color: rgba(0, 0, 0, 0.55);
                    }
                    .nav-link.active{
                        color: $nav_active_color;
                    }
                }
            }
        }
        // .lang-change{
        //     bottom: -0.75rem;
        // }
    }
    .content.whatwedo{
        .container{
            .inner-content{
                .image{
                    max-height: 300px !important;
                }
                .text{
                    .support{
                        margin-bottom: 56px;
                    }
                }
            }
        }
    }
    section.whatwedo{
        .content{
            .inner-content{
                .detail{
                    .image{
                        height: 250px;
                    }
                }
                .detail.even{
                    position: relative;
                    .image{
                        position: absolute;
                        bottom: 3rem;
                    }
                    .text{
                        padding-bottom: 250px;
                    }
                }
            }
        }
    }
    section.contact{
        .content{
            .inner-content{
                .contact-icons{
                    >div{
                        padding: 1rem 0;
                        display: block !important;
                        a{
                            align-items: center !important;
                        }
                    }
                    .phone{
                        flex: unset;
                    }
                }
                
            }
        }
    }
}


@media screen and (max-width: 576px){
    .carousel{
        .carousel-inner{
            .carousel-item{
                img{
                    height: unset !important;
                }
            }
        }
    }
}