section.home{
    padding-top: unset;

    .banner{
    }
    .content:nth-child(odd){
        background: $container-bg-color;
    }

    //About Us
    .content.about-us{
        .container{
            >div{
                text-align: center;
                background: unset;
                .logo{
                    width: 150px;
                    height: 150px;
                }
                .intro{
                    display: block;
                    width: 50rem;
                    max-width: 100%;
                    text-align: left;
                    margin: auto;
                    line-height: 2em;
                }
                .intro.mm{
                    text-align: justify;
                }
            }
        }
    }

    //What We Do
    .content.whatwedo{
        .container{
            .inner-content{
                position: relative;
                .text{
                    position: relative;
                    .support{
                        margin-bottom: 56px;
                    }
                    .my-btn.goto-detail{
                        position: absolute;
                        bottom: 0;
                        width: 90%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .image{
                    min-height: 300px;
                    max-height: 400px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .content.whatwedo.mm{
        .container{
            .inner-content{
                .text{
                    .setsumei{
                        line-height: 2rem;
                    }
                    .support{
                        ul{
                            li{
                                line-height: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    // Activity
    .content.current-activities{
        .container{
            .inner-content{
                border: 1px solid $container-bg-color;
                margin: auto;
                // width: 700px;
                max-width: 100%;
                .act-images{
                    >div{
                        .act-content{
                            cursor: pointer;
                            // border: 1px solid $primary_color;
                            img{
                                width: 100%;
                                height: 200px;
                            }
                            .img-label{
                                display: block;
                                text-align: center;
                            }
                        }
                        .act-content:hover{
                            box-shadow:  0 .5rem 1rem rgba(0,0,0,.15);
                        }
                    }
                }
                .each-activity{

                    tr{
                        cursor: pointer;
                        img{
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            }
        }
    }
    
}