// $primary_color : #ffe598;
// $secondary_color : #b7d7a8;
$primary_color : #58d3ff;
$secondary_color : aliceblue;
// $primary_color : #eed202;
// $secondary_color : #fafad2;

$container-bg-color: #f8f8f8;


$nav_active_color: #24292f;
